[submodule "ElasticToolsR"]
	path = ElasticToolsR
	url = https://github.com/AntheSevenants/ElasticToolsR
[submodule "DistributionalSemanticsR"]
	path = DistributionalSemanticsR
	url = https://github.com/AntheSevenants/DistributionalSemanticsR
[submodule "naive-dt-fix"]
	path = naive-dt-fix
	url = https://github.com/AntheSevenants/naive-dt-fix.git
